html,body {
  color: #444;
  font-family: Tahoma;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fff;
  height: 100%;
}

.app{
  width: 512px;
  margin: auto;
  box-shadow: 4px 4px 20px #888;
  padding: 20px;
  border-radius: 20px;
}
.center{
  text-align: center;
}
.startHidden{
  display: flex;
}