h3 {
  margin: 4px;
  font-weight: normal;
}

input {
  width: 80%;
  margin: 4px;
  padding: 4px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #fff;
}

button{
  background-color: #4c4;
  font-size: 15px;
  color: white;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
  border: none;
  outline: none;
}


button:hover {
  opacity: 0.75;
  cursor: pointer;
}

p {
  margin: 0;
}

.alternative{
  background-color: #44c;
}